<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width minimum-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
        }
        main {
            min-height: 100vh;
            background: #343434;
            color: white
        }
        table {
            table-layout: fixed;
            text-align: center;
        }
        .btn-primary {
            background: #04d361 !important;
            border-color: #04d361 !important;
        }
        .table-header {
            background: rgb(84, 36, 155);
            color: white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">API Blocker</a>
        <div class="d-flex">
            <input class="form-control form-control-lg me-2" type="search" placeholder="Buscar IP" aria-label="Buscar IP">
            <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</nav>
<main class="row mx-0">
    <div class="d-none d-sm-block col-2 bg-dark text-light py-3">
        <ul class="">
            <li><a href="/redoc">Redoc</a></li>
            <li><a href="/api/v1/documentation">Swagger</a></li>
        </ul>
    </div>
    <div class="col-12 col-sm-10">
        <div class="container py-3">
            <h1 class="mb-5">API Blocker</h1>

            {% if blocked %}
                <h5>IP's Bloqueados</h5>
                <div class="table-responsive rounded rounded-lg mb-5">
                    <table class="table">
                        <thead class="table-header">
                            <tr>
                                <th></th>
                                <th>Data</th>
                                <th>Sistema</th>
                                <th>IP</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            {% for result in blocked %}
                                <tr>
                                    <td>
                                        <button class="btn btn-danger">Desbloquear</button>
                                    </td>
                                    <td>{{ result.date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                                    <td>{{ result.system }}</td>
                                    <td>{{ result.ip }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary">Ver mais >></button>
                </div>
            {% endif %}

            {% if last_results %}
                <h5>Últimas requisições</h5>
                <div class="table-responsive rounded rounded-lg">
                    <table class="table">
                        <thead class="table-header">
                            <tr>
                                <th>Data</th>
                                <th>Sistema</th>
                                <th>IP</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            {% for result in last_results %}
                                <tr>
                                    <td>{{ result.date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                                    <td>{{ result.system }}</td>
                                    <td>{{ result.ip }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary">Ver mais >></button>
                </div>
            {% endif %}
        </div>
    </div>
</main>
</body>
</html>